/*Sección About*/
 
 
section.about{
  background: #EAF2FD;;
}



.about__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin: 0.5em;
  margin-left: 1em;
  
}


      
.about__paragraph {
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-left: 3em;
  line-height: 26.44px;

}

.firma{
  margin: 0.5em;
  margin-left: 3em;
}



/*Tablet*/
@media (max-width: 1024px){

.about__title {
  font-size: 16px;
}
  
.about__paragraph {
  font-size: 11px;
  line-height: 16.44px;

}

}


 
/*Mobile*/
@media (max-width: 425px) {
  .about__title {
    font-size: 15px;
  }
    
  .about__paragraph {
    font-size: 10px;
    line-height: 16.44px;

  }



}




