section.about {
  background: var(--darkgray);
  padding: 1.875rem;
  gap: 0.625rem;
  width: 98%;
  border-top-left-radius: 20%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 8%;
}

.about__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: left;
  margin: 0.5em 0 0.5em 1rem;
  color: var(--lightblue);
  text-shadow: 0.1rem 0.1rem 0.02rem var(--deeppurple), 0.1rem 0.1rem .2rem var(--agua);
}

.about__paragraph {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.4375rem;
  font-weight: 400;
  text-align: left;
  line-height: 2.2775rem;
}

.about__paragraph--destacado:hover {
  color: var(--agua);
}

/* Tablet */
@media (max-width: 64rem) {
  .about__title {
    font-size: 1rem;
  }

  .about__paragraph {
    font-size: 0.6875rem;
    line-height: 1.0275rem;
  }
}

/* Mobile */
@media (max-width: 26.5625rem) {
  .about__title {
    font-size: 0.9375rem;
  }

  .about__paragraph {
    font-size: 0.625rem;
  }
}
