section.about {
  background: #202324;
  padding: 30px;
}

.about__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin: 0.5em;
  margin-left: 1em;

}

h1 {
  color: greenyellow;
  text-shadow: 0 0 20px #FFC080, 0 0 30px #FF69B4;
}

.about__paragraph,
.about__paragraph__end {
  font-family: 'Times New Roman', Times, serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  /* margin-left: 3em; */
  line-height: 26.44px;
}

.about__paragraph__end {
  /* margin-left: 200px; */
  margin-top: 20px;
  text-align: right;
}

.firma {
  margin: 0.5em;
  margin-left: 600px;
}


/*Tablet*/
@media (max-width: 1024px) {
 

  .about__paragraph__end{
    justify-content: center;
  }
  .about__title {
    font-size: 16px;
  }
  
  .about__paragraph {
    font-size: 11px;
    line-height: 16.44px;
  }
}

/*Mobile*/
@media (max-width: 425px) {
  .about__title {
    font-size: 15px;
  }

  .about__paragraph {
    font-size: 10px;
    line-height: 16.44px;
  }
}