/* === About Mobile First === */
.about-me-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
}

.about {
  display: none;
  background: var(--darkgray);
  max-width: 90%;
  margin: 1em;
  padding: 1.875rem;
  border-bottom: 0.188rem solid var(--text-light);
}

.about__title {
  color: var(--lightblue);
  font-weight: 600;
  text-align: left;
  padding-top: 2.0625rem;
  text-shadow:
    0.1rem 0.1rem 0.02rem var(--deeppurple),
    0.1rem 0.1rem .2rem var(--agua);
}

.about__paragraph {
  font-weight: 400;
  text-align: left;
  line-height: 2;
}

.about__paragraph--destacado {
  transition: color 0.3s ease;
}

.about__paragraph--destacado:hover {
  color: var(--agua);
}

/* === About Tablet === */
@media (min-width: 48rem) {
  .about-me-training {
    flex-direction: row;
    justify-content: space-around;
  }

  .about {
    display: block;
    max-width: 60%;
    border-bottom: 0.188rem solid var(--deeppurple);
  }

  .about__paragraph {
    line-height: 2;
  }
}

/* === About Desktop === */
@media (min-width: 64rem) {
  .about {
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 0.188rem solid var(--agua);
  }

  .about__paragraph {
    line-height: 2;
  }
}
