/* Experiencia Académica */
.academic {
    text-align: center; /* Alinea el texto al centro */
    width: 100%;
    background: #454a4d;

}

.academic__courses {
    display: flex; /* Inicia flexbox en el contenedor */
    padding: 0; /* Elimina el relleno de la lista */
    flex-wrap: wrap; /* Envuelve los elementos en varias líneas si es necesario */
    margin: 0% 2%; /* Reducir el margen superior e inferior y el margen izquierdo y derecho */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.academic__courses__box {
    flex: 1 1 200px; /* Establece flex-grow, flex-shrink y flex-basis */
    margin: 10px; /* Ajusta el margen entre las cajas flexibles */
    max-width: calc(33.33% - 20px); /* Establece el ancho máximo de las cajas flexibles en 33.33% del contenedor menos el margen */
    box-sizing: border-box; /* Incluye el ancho del borde y el relleno en el cálculo del ancho */
}

.academic__title {
    margin-bottom: 3em;
    margin-top: 0.5em;
    padding-top: 33px;
    font-size: 1.5em;
}

/* RESPONSIVIDAD */

/* Tablet */
@media (max-width: 768px) {
    /* Formación Académica */
    .academic__courses__box {
        max-width: calc(50% - 20px); /* Establece el ancho máximo de las cajas flexibles en 50% del contenedor menos el margen */
    }
}

/* Mobile */
@media (max-width: 425px) {
    /* Formación Académica */
    .academic__courses__box {
        max-width: calc(100% - 20px); /* Establece el ancho máximo de las cajas flexibles en 100% del contenedor menos el margen */
    }
}
