.academic {
    text-align: center;
    width: 100%;
    /* background: #454a4d; */
  }
  
  .academic__courses {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    /* margin: 0 2%; */
    justify-content: center;

  }
  
  .academic__courses__box {
    flex: 1 1 12.5rem; /* 200px */
    margin: 0.625rem; 
    max-width: calc(33.33% - 1.25rem); /* 20px */
    box-sizing: border-box;
  }
  
  .academic__title {
    /* margin: 0.5em 0 3em; */
    padding-top: 1.0625rem; /* 33px */
    font-size: 1.5em;
  }
  
  /* RESPONSIVIDAD */
  /* Tablet */
  @media (max-width: 48rem) { /* 768px */
    .academic__courses__box {
      max-width: calc(50% - 1.25rem); /* 20px */
    }
  }
  
  /* Mobile */
  @media (max-width: 26.5625rem) { /* 425px */
    .academic__courses__box {
      max-width: calc(100% - 1.25rem); /* 20px */
    }
  }
  