.experience {
  background-color: var(--deeppurple);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

/*Este merengues*/
.experience__section__title {
  font-weight: 600;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  padding-top: 2.0625rem;
  color: white;
  text-shadow: 0 0 0.45rem var(--neonblue), 0 0 1.45rem var(--neonblue);
  font-weight: 600;
  text-align: center;
}

.experience__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: var(--darkred);
  gap: 0.625rem;
  padding: 1rem;
}

.experience__img {
  height: auto;
  width: auto;
  max-height: 15%;
  max-width: 60%;
  min-height: 10%;
  min-width: 50%;
  object-fit: contain;
}

.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 45%;

}

.experience__title {
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  color: var(--agua);
}

.experience__text {
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  color: var(--strongblue);
}

.experience__description {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  gap: 6rem;
}

.experience__button--repository,
.experience__button--demo {
  border: 0.0125rem solid var(--lightblue);
  background-color: var(--strongblue);
  color: var(--deeppurple);
  border-radius: 30%;
  cursor: pointer;
  transition: all 1.99s;
  font-weight: bold;
  text-decoration: none;
  width: clamp(10rem, 8vw, 12rem);
  height: clamp(4rem, 4vw, 6rem);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience__button--repository:hover,
.experience__button--demo:hover {
  color: var(--agua);
  border: 0.125rem solid var(--heavyblue);
  border-radius: 50%;
  padding: 0.9rem;
  background-color: var(--deeppurple);
  border-color: var(--agua);
}

/* RESPONSIVIDAD */
/* Tablet */
@media (max-width: 64rem) {

  .experience__button--repository,
  .experience__button--demo {
    width: clamp(6rem, 4vw, 10rem);
    height: clamp(3rem, 4vw, 4rem);
  }

  .experience__title {
    color: var(--success);
    line-height: 1.2;
  }

  .experience__text {
    line-height: 1.2;
    color: var(--agua);
  }

  .experience__box {
    gap: 0.625rem;
    padding: 0.4rem;
  }

  .experience__description {
    gap: 1rem;
  }
}

/* Mobile */
@media (max-width: 26rem) {
  .experience__title {
    color: var(--heavyblue);
    line-height: 1.1;
    padding: 0.5rem;
  }

  .experience__description {
    flex-direction: column;
    align-items: center;
  }

  .experience__text {
    line-height: 1.1;
  }

  .experience__box {
    gap: 0.25rem;
    padding: 0.2rem;
    flex-wrap: wrap;
  }

  .experience__info {
    max-width: 35%;
  }

  .experience__button--repository,
  .experience__button--demo {
    width: clamp(6rem, 4vw, 8rem);
    height: clamp(1.5rem, 4vw, 2rem);
  }

  .experience__description {
    gap: 0.8rem;
  }
}