.experience {
  background-color: var(--deeppurple);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.experience__section__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.94rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.65rem;
  margin-top: 1.875rem;
  padding: 1.875rem;
  color: white;
  text-shadow: 0 0 1.25rem var(--agua), 0 0 1.875rem var(--background);
}

.experience__box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-color: var(--darkred);
  gap: 0.625rem;
  padding: 0.625rem;
}

.experience__img {
  height: auto;
  width: auto;
  max-height: 70%;
  max-width: 70%;
  min-height: 65%;
  min-width: 65%;
  margin: 1.25rem;
  object-fit: contain;
}

.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-height: 25%;
  max-width: 25%;
  padding: 0.2rem;
}

.experience__title {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(2.75rem, 5vw, 3.94rem);
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  color: var(--agua);
}

.experience__text {
  font-family: 'Times New Roman', Times, serif;
  font-size: clamp(1.5rem, 5vw, 2.375rem);
  font-weight: 200;
  text-align: center;
  line-height: 1.5;
  color: var(--strongblue);
}

.experience__description {
  display: flex;
  justify-content: center;
  gap: 8.25rem;
  flex-wrap: wrap;
}

.experience__button--repository,
.experience__button--demo {
  border: 0.0125rem solid var(--lightblue);
  background-color: var(--strongblue);
  color: var(--deeppurple);
  padding: 0.25rem;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1rem;
  transition: all 1.99s;
  font-weight: bold;
  text-decoration: none;

}

.experience__button--repository:hover,
.experience__button--demo:hover {
  /* box-shadow: inset 0 0 6.25rem var(--strongblue), 0 0 2.375rem var(--deeppurple); */
  color: var(--agua);
  border: 0.125rem solid var(--heavyblue);
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--deeppurple);
  border-color: var(--agua);
}

/* RESPONSIVIDAD */
/* Tablet */
@media (max-width: 64rem) {
  .experience__info {
    max-width: 30%;
  }

  .experience__img {
    object-fit: cover;
    max-height: 50%;
    max-width: 50%;
  }

  .experience__title {
    font-size: 1.375rem;
    color: var(--success);
    line-height: 1.2;
  }

  .experience__text {
    font-size: 1rem;
    line-height: 1.2;
    color: var(--agua);
    padding: 1.875rem;
  }

  .experience__box {
    gap: 0.625rem;
    padding: 0.4rem;
  }
}

/* Mobile */
@media (max-width: 26rem) {
  .experience__title {
    font-size: 1rem;
    color: var(--heavyblue);
    line-height: 1.1;
    padding: 0.5rem;
  }

  .experience__text {
    font-size: 0.6875rem;
    line-height: 1.1;
    color: green;
  }

  .experience__box {
    gap: 0.25rem;
    padding: 0.2rem;
    flex-wrap: wrap;
  }

  .experience__info {
    max-width: 25%;
    justify-content: space-between;
  }

  .experience__button--repository {
    margin-left: 0.5rem;
  }
}



