
.footer__rodape{
    text-align: center;
    padding: 1rem;
}




.footer{
    display: flex;

    flex-direction: column;
    padding: 1.1em 10em;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 5px 29px 0px var(--strongblue);
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), rgba(34, 113, 209, 0.7);
    background-color: rgba(34, 113, 209, 0.7);
    border-top:  var(--strongblue) 1px solid;
    margin-top: 0.001px;
}