header {
  height: auto;
  padding: 0.3125rem;
  display: flex;
  gap: 0.3125rem;
  bottom: 0;
  box-shadow: 0 0.125rem 0.45rem 0 var(--strongblue);
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), var(--strongblue);
  background-color: var(--strongblue);
  border-bottom: 0.095rem solid var(--strongblue);
}

.menu__title {
  color: var(--deeppurple);
  font-size: 1.25rem;
  margin-left: 0.3125rem;
}

a {
  color: var(--lightblue);
}

.logo {
  display: flex;
  gap: 0.9375rem;
  padding: 0.0625rem;
  margin-left: 0.25rem;
  align-self: flex-start;
  min-width: 20%;
}

.logo__img {
  height: 3rem;
}

.menu__list {
  gap: 1.25rem;
  max-width: 70%;
  padding: 0.9375rem;
  margin-left: 0.025rem;
  display: flex;
}

.badge-base {
  margin-top: 1.25rem;
}

#item-contacto {
  color: var(--strongblue);
  font-weight: bold;
  font-weight: bold;
  text-shadow:
    -0.0425rem -0.0425rem 0 var(--background),
    0.0425rem -0.0425rem 0 var(--background),
    -0.0425rem 0.0425rem 0 var(--background),
    0.0425rem 0.0425rem 0 var(--background);
}

.menu__item {
  color: var(--lightblue);
}

.menu__item:hover {
  box-shadow: inset 0 0 9.375rem var(--background), 0 0 0.1125rem white;
  border: 0.0625rem solid var(--lightblue);
  color: var(--strongblue);
  padding: 0.295rem;
  border-radius: 35%;


}

/* RESPONSIVIDAD */
/* Tablet */
@media (max-width: 64rem) {

  header {
    gap: 0.1875rem;
    padding: 0.3125rem;
    flex-direction: column;
  }

  .logo {
    font-size: 1rem;
    max-width: 35%;
    margin-left: 0.0625rem;
  }

  .menu__item--contato {

    font-size: 0.75rem;

  }

  .menu__list {
    gap: 0.9375rem;
    font-size: 0.75rem;
    flex-wrap: wrap;
    max-width: 95%;

  }

  .title__network {
    gap: 1.25rem;
    padding: 0.0625rem;
    margin-bottom: 0.3125rem;
  }
}

/* Mobile */
@media (max-width: 26.5625rem) {
  .logo {
    font-size: 1rem;
    max-width: 15%;
    margin-left: 0.0125rem;
  }

}