header {
  height: 60px;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10em;
  background: #181a1b;
}

.logo {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-right: 2em;
  margin-left: 0%;
}

.logo__img {
  height: 3em;
}

.menu__list {
  margin-left: 5em;
  gap: 1em;
}

.menu__item--contato {
  color: #004daa;
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
}

.menu__list li a {
  color: rgb(102, 184, 255);
}

.menu__list {
  display: flex;
}

a:-webkit-any-link {
  color: rgb(102, 184, 255);
  cursor: pointer;
}


.menu__header img {
  margin-right: 10px;
}


section.title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 3em;
  margin-left: 1em;
}

.title__bio {
  font-family: Raleway;
  font-size: 2em;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
}

.title__subsection {
  font-family: Raleway;
  font-size: 1em;
  font-weight: 400;
  line-height: 16.44px;
  text-align: left;
  margin-top: 1em;
}


.title__profile {
  border-radius: 50%;
  max-width: 20%;
  margin-top: 20PX;
}

.badge-base {
  margin-top: 20px;
}


.menu__item--contato a {
  font-weight: bold;
}

.title__network {
  display: flex;
  align-items: center;
  gap: 3em;
  margin-top: 1em;
  margin-left: 2em;
  color: aqua;
}

.title__network img {
  background-color: transparent;
  border-radius: 50%;
  background-color: aliceblue;
}

.presentacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 1em;
}

/*Tablet*/
@media (max-width: 1024px) {
  header {
    gap: 0;
  }

  .logo {
    font-size: 16px;
  }

  .menu__list {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 1em;
    gap: 1em;
  }

  .title__network {
    gap: 2em;
  }
  .presentacion{
    display: block;
  }
}



/*Mobile*/
@media (max-width: 425px) {
  header {
    gap: 5em;
  }

  .menu__list {
    font-size: 11px;
  }

  .menu__list li:not(:last-child) {
    display: none;
  }

  .menu__item--contato {
    position: absolute;
    top: 1em;
    right: 0;
    margin-right: 10px;
  }

  .menu__list {
    display: flex;
  }

  .menu__item {
    margin-right: 10px;
  }

  .presentacion {
    flex-direction: row-reverse;
    gap: 0.2em;
  }

  .title__profile {
    max-width: 30%;
    margin-right: 1em;
  }

  .title__bio {
    font-size: 1em;
    font-weight: 300;
    line-height: 25.83px;
  }

  .title__subsection {
    font-size: 0.8em;
    font-weight: 200;
    line-height: 16.44px;
  }

  .title__network {
    gap: 0.5em;
    margin-left: 2%;
    font-size: 0.8em;
  }
}