/*Sección Hobbies*/
 
section.hobbies {
    text-align: center; /* Alinea el texto al centro */
    width: 100%;
    background: rgb(11, 44, 56);
}

.hobbies__line {
    display: flex; /* Inicia flexbox en el contenedor */
    padding: 0; /* Elimina el relleno de la lista */
    flex-wrap: wrap; /* Envuelve los elementos en varias líneas si es necesario */
    margin: 0% 2%; /* Reducir el margen superior e inferior y el margen izquierdo y derecho */

}

.hobbies__box {
    flex: 1 1 200px; /* Establece flex-grow, flex-shrink y flex-basis */
    margin: 10px; /* Ajusta el margen entre las cajas flexibles */
    max-width: calc(33.33%); /* Establece el ancho máximo de las cajas flexibles en 33.33% del contenedor menos el margen */
    box-sizing: border-box; /* Incluye el ancho del borde y el relleno en el cálculo del ancho */
}


 
/* RESPONSIVIDAD */
 
 
/*Tablet*/
@media (max-width: 768px) {
    /*Hobbies*/ 
    .hobbies__box{
        max-width: calc(50% ); /* Establece el ancho máximo de las cajas flexibles en 50% del contenedor menos el margen */
    }
}
 
/*Mobile*/
@media (max-width: 425px) {
    /*Hobbies*/
    .hobbies__box{
        max-width: calc(100% ); /* Establece el ancho máximo de las cajas flexibles en 50% del contenedor menos el margen */
    }
}
 

.hobbies__title{
    margin-bottom: 3em;
    font-size: 1.5em;
    margin-top: 3em;
}