@import url("reset.css");

@import url("header.css");

@import url("about.css");

@import url("skills.css");

@import url("hobbies.css");

@import url("academic.css");

@import url("experience.css");

@import url("formcontato.css");

@import url("footer.css");

body { background-color: #F5F5F5;
    line-height: 1;
    font-family: "Raleway";
    color: #464646;
    overflow-x: hidden;  /* Oculta el scroll del eje principal horizontal */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

