@import url("reset.css");

@import url("header.css");

@import url("about.css");

@import url("skills.css");

@import url("hobbies.css");

@import url("academic.css");

@import url("projects.css");

@import url("formcontato.css");

@import url("footer.css");

@import url("contact.css");

body {
    background-color: #050f13;
    line-height: 1;
    font-family: "Raleway";
    color: #F5F5F5;
    overflow-x: hidden;
    /* Oculta el scroll del eje principal horizontal */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .badge-container iframe {
    width: 30px;
    height: 10px;
}

.badge-container {
    width: 30px;
    height: 10px;
}
.badge-base__link {
    height: 10px;
    width: 10px;
} */
