@import url("reset.css");

@import url("header.css");

@import url("presentation.css");

@import url("about.css");

@import url("skills.css");

@import url("hobbies.css");

@import url("academic.css");

@import url("experience.css");

@import url("formcontato.css");

@import url("footer.css");

@import url("contact.css");

body {
    background-color: var(--background);
    line-height: 1;
    font-family: "Raleway";
    color: #F5F5F5;
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root { 
    
    --deeppurple: #4b0082; 
    --lightblue: rgb(102, 184, 255);
    --strongblue: #2271D1;
    --heavyblue: #031351;
    --agua: aqua;
    --background: #050f13;
}