/* === Presentation - Mobile First === */

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.presentation__content {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
  align-items: start;
  padding: 1rem;
}

.presentation__profile {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.presentation__img {
  width: clamp(4rem, 20vw, 8rem);
  height: clamp(4rem, 20vw, 8rem);
  border-radius: 50%;
}

.presentation__bio {
  width: 100%;
  color: var(--agua);
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.presentation__texto {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 0.5rem;
  text-align: left;
}

.presentation__subsection {
  font-weight: 200;
  line-height: 2;
  text-shadow:
    -0.1025rem -0.1025rem 0 black,
     0.1025rem -0.1025rem 0 black,
    -0.1025rem  0.1025rem 0 black,
     0.1025rem  0.1825rem 0 black;
}

.presentation__network {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.presentation__network-item {
  border-radius: 50%;
}

.presentation__network-item__img {
  display: flex;
  flex-direction: row;
  width: clamp(3rem, 4vw, 5rem);
  height: clamp(3rem, 4vw, 5rem);
  border-radius: 50%;
  background-color: var(--lightblue);
}

.presentation__network-item__img:hover {
  border: 0.325rem solid var(--neonblue);
  color: var(--strongblue);
  background-color: var(--neongreen);
}

/* === Tablet === */
@media (min-width: 48rem) {
  .presentation__content {
    align-items: center;
    justify-content: center;
  }

  .presentation__img {
    width: clamp(6rem, 20vw, 8rem);
    height: clamp(6rem, 20vw, 8rem);
  }

  .presentation__bio {
    max-width: 100%;
    align-self: center;
    text-align: left;
    font-weight: 600;
    line-height: 1.4;
  }

  .presentation__texto {
    max-width: 70%;
    gap: 1.5rem;
    align-items: flex-start;
    text-align: left;
  }

  .presentation__subsection {
    font-weight: 400;
    line-height: 1.5;
  }

  .presentation__network-item__img {
    width: clamp(2rem, 4vw, 5rem);
    height: clamp(2rem, 4vw, 5rem);
  }
}

/* === Desktop === */
@media (min-width: 90rem) {
  .presentation {
    flex-direction: row;
    justify-content: space-around;
  }

  .presentation__img {
    width: clamp(8rem, 20vw, 12rem);
    height: clamp(8rem, 20vw, 12rem);
  }

  .presentation__bio {
    font-weight: 700;
  }

  .presentation__texto {
    max-width: 65%;
    align-self: center;
    gap: 3.4894rem;
  }

  .presentation__subsection {
    font-weight: 500;
    line-height: 2;
    width: 80%;
  }

  .presentation__network-item__img {
    width: clamp(2rem, 4vw, 6rem);
    height: clamp(2rem, 4vw, 6rem);
  }
}
