
.presentacion {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 0.5rem; 
}

.presentacion__bio {
  font-family: Raleway, sans-serif;
  font-size: 2.8125rem; 
  font-weight: 700;
  line-height: 3.4894rem; 
  text-align: center;
  color: var(--agua);
}

.presentacion__subsection {
  font-family: Raleway, sans-serif;
  font-size: 1.875rem; 
  font-weight: 500;
  line-height: 2.59rem; 
  width: 80%;
  text-shadow:  
  -0.0625rem -0.125rem 0 black,  
   0.0625rem -0.125rem 0 black,  
  -0.0625rem  0.125rem 0 black,  
   0.0625rem  0.125rem 0 black;
}

.presentacion__img{
  margin-top: 0.9375rem;
}

.presentacion__img {
  display: block;
  border-radius: 50%;
}

.presentacion__img--mobile {
  width: 0;
  display: none;
}

.badge-base {
  margin-top: 1.25rem; 
  max-width: 10%;
}

.presentacion__network {
  display: flex;
  justify-content: center;
  gap: 3.125rem; 
  padding: 0.3125rem; 
}

.presentacion__network-item__img {
  border-radius: 50%;
  margin: 0.3125rem 0 0.1875rem 0.3125rem;
  display: flex;
  flex-direction: row;
  background-color: var(--agua);
  
  
}

.presentacion__network-item {
  margin-top: 0.3125rem; 
  border-radius: 50%;
}

.presentacion__network-item__img:hover{
  box-shadow: inset 0 0 7.25rem var(--deeppurple), 0 0 0.3125rem white;
  border: 0.0625rem solid var(--agua);;
  color: var(--strongblue);
  padding: 0.125rem; 
}

.presentacion__texto {
  display: flex;
  padding: 0.3125rem;
  flex-wrap: wrap;
  gap: 0.3125rem;
  max-width: 60%;
}

.presentacion__contenido {
  display: flex;
  gap:  0.3125rem; 
  padding: 0.3125rem;
}



.presentacion img{
  max-width: 25%;
  min-width: 20%;
}

/* RESPONSIVIDAD */
/* Tablet */
@media (max-width: 64rem) { 
  .badge-base {
      display: none;
  }

  .presentacion__img {
      display: none;
  }

  .presentacion__img--mobile {
      display: block;
   
  }

  .menu__list {
      gap: 0.9375rem; 
      font-size: 0.75rem; 
  }

  .network {
      gap: 1.25rem; 
      padding: 0.0625rem;
      margin-bottom: 0.3125rem; 
  }

  .presentacion {
      padding-right: 1.25rem; 
  }

  .presentacion__bio {
      font-size: 1.875rem; 
      line-height: 1.927rem; 
      margin-left: 1.875rem; 
      max-width: 60%;
  }

  .presentacion__subsection {
      font-size: 1.75rem;
      font-weight: 400;
      line-height: 2.2775rem; 
      width: 95%;
  }

  .presentacion__texto {
      max-width: 95%;
      gap: 0.3125rem; 
      padding: 0.3125rem; 
  }
}

/* Mobile */
@media (max-width: 26.5625rem) {
  .presentacion {
      margin-right: 0.625rem; 
  }

  .presentacion__img--mobile {
      display: block;
  
  }

  .presentacion img{
    max-width: 15%;
    min-width: 25%;
  }

  .presentacion__bio {
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.8019rem; 
      width: 55%;
  }

  .presentacion__subsection {
      font-size: 0.8rem;
      font-weight: 200;
      line-height: 1.9659rem; 
  }

  .presentacion__texto {
      width: 100%;
      gap: 0.3125rem; 
      padding: 0.3125rem;
  }
}
