/* === Presentación - Mobile First === */


.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 0.625rem;
}

.presentation__content {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1rem;
  align-items: start;
  padding: 1rem;
}

.presentation__profile {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}

.presentation__img {
  border-radius: 50%;
  width: clamp(4rem, 20vw, 8rem);
  height: clamp(4rem, 20vw, 8rem);
  margin-top: 1rem;
}

.presentation__bio {
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: center;
  color: var(--agua);
  margin-top: 0.5rem;
  width: 90%;
}

.presentation__texto {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  text-align: left;
  align-items: flex-start;
}

.presentation__subsection {
  font-family: Raleway, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  line-height: 1.96rem;
  text-shadow:
    -0.0425rem -0.0425rem 0 black,
    0.0425rem -0.0425rem 0 black,
    -0.0425rem 0.0425rem 0 black,
    0.0425rem 0.0425rem 0 black;
}

.badge-base {
  display: none;
}

.presentation__network {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0.3125rem;
}

.presentation__network-item {
  margin-top: 0.3125rem;
  border-radius: 50%;
}

.presentation__network-item a {
  font-size: 0.6rem;
}

.presentation__network-item__img {
  display: flex;
  flex-direction: row;
  background-color: var(--agua);
  border-radius: 50%;
  margin: 0.3125rem 0 0.1875rem 0.3125rem;
  width: clamp(2rem, 4vw, 4rem);
  height: clamp(2rem, 4vw, 4rem);
}

.presentation__network-item__img:hover {
  box-shadow: inset 0 0 7.25rem var(--deeppurple), 0 0 0.3125rem var(--agua);
  border: 0.0625rem solid var(--agua);
  color: var(--strongblue);
  padding: 0.125rem;
}


/* === Tablet === */
@media (min-width: 48rem) {


  .presentation__content {
    align-items: center;
    justify-content: center;

  }

  .presentation__img {
    width: clamp(6rem, 20vw, 8rem);
    height: clamp(6rem, 20vw, 8rem);
  }

  .presentation__bio {
    font-size: 1.875rem;
    line-height: 1.93rem;
    font-weight: 600;
    max-width: 80%;
    align-self: center;
    text-align: left;
  }

  .presentation__texto {
    max-width: 70%;
    gap: 1.5rem;
    text-align: left;
    align-items: flex-start;
  }

  .presentation__subsection {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.28rem;
    width: 95%;
  }

  .badge-base {
    margin-top: 1.25rem;
    max-width: 10%;
  }

  .presentation__network-item a {
    font-size: 1rem;
  }

  .presentation__network-item__img {
    width: clamp(2rem, 4vw, 5rem);
    height: clamp(2rem, 4vw, 5rem);
  }
}


/* === Desktop === */
@media (min-width: 90rem) {
  .presentation {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 0.5rem;
    padding-right: 0;
  }



  .presentation__img {
    width: clamp(8rem, 20vw, 12rem);
    height: clamp(8rem, 20vw, 12rem);
  }

  .presentation__bio {
    margin-top: 0.3125rem;
    font-size: 2.8125rem;
    font-weight: 700;
    line-height: 4.4894rem;
  }

  .presentation__texto {
    max-width: 65%;
    align-self: center;
    gap: 3.4894rem;
  }

  .presentation__subsection {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.59rem;
    width: 80%;
  }

  .badge-base {
    display: block;
    width: 10%;
    height: auto;
    align-self: flex-start;
    justify-self: end;
  }

  .presentation__network-item__img {
    width: clamp(2rem, 4vw, 6rem);
    height: clamp(2rem, 4vw, 6rem);
  }

  .presentation__network-item a {
    font-size: 1.5rem;
  }
}