section.experience {
    background-color: #4b0082;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience__section__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 63px;
    font-weight: 400;
    text-align: center;
    line-height: 26.44px;
    margin-top: 30px;
    padding: 30px;
    color: white;
    /* text-shadow: 0 0 20px #FFC080, 0 0 30px #FF69B4; */
    text-shadow: rgb(127, 64, 0) 0px 0px 20px, rgb(141, 0, 71) 0px 0px 30px;
}

.experiencie__box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* background: #EAF2FD; */
    background-color: #2a0707;
    padding: 10px;
}

.experience__img {
    width: 70%;
}

.experience__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

.experience__description {
    display: flex;
    justify-content: space-around;
}


.experience__title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    font-weight: 300;
    text-align: center;
    line-height: 16.44px;
    /* color: #3e0e70; */
    color: aquamarine;
    line-height: 1.5;
}

.experience__text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 200;
    text-align: center;
    line-height: 1.5;
    /* color: #0c1a07; */
    color: silver;
    margin-left: 10px;
}

/* RESPONSIVIDAD */
/*Tablet*/
@media (max-width: 1024px) {
    .experience__img{
        margin-top: 30px;
        width: 80%;
        height: 90%;
    }
    .experience__title {
        font-size: 22px;
        color: aqua;
        line-height: 1.2;
        padding: 30px;
        text-align: center;
    }

    .experience__text {
        font-size: 16px;
        line-height: 16.44px;
        color: green;
        line-height: 1.2;
        padding: 30px;
        text-align: center;
    }

    .experience__description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
    }
}

/*Mobile*/
@media (max-width: 425px) {
    .experience__img{
        width: 90%;
        height: 95%;
    }
    .experience__title {
        font-size: 16px;
        color: green;
        line-height: 1.1;
        padding: 30px;
        text-align: center;
    }

    .experience__text {
        font-size: 11px;
        line-height: 16.44px;
        color: aqua;
        line-height: 1.1;
        padding: 30px;
        text-align: center;
    }

    .experience__description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 20px;
    }

    .badge-base__link {
        height: 10px;
        width: 10px;
    }
    
   
}

.badge-base__link {
    height: 10px;
    width: 10px;
}